{% extends "personal/header.html" %}
{% block content %}

<body class="body">

<div class="row">

   <div class="col-lg-6">
   <h3>Python - Workstation Ergonomics</h3>
   <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ex-Brkp0e3k"></iframe>
   </div>
   </div>

   <div class="col-lg-6">
   <h3>Python - Script to Save myplotlib Figure</h3>
   <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fsYPWUHgudA"></iframe>
   </div>
   </div>
</div>

<br>
</body>
</html>

{% endblock %}


<!--
Testing 1,2,3. Steady as she goes, helm.
-->