{% extends "personal/header.html" %}
{% block content %}

<body class="body">

<div class="row">
   <div class="col-lg-6">
   <h3>Safety - Occupational Noise</h3>
   <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/awpJSk5WnjU"></iframe>
   </div>
   </div>

   <div class="col-lg-6">
   <h3>Ergonomics - Biomechanics</h3>
   <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hr8K4_em-5Q"></iframe>
   </div>
   </div>
</div>

<br>

<div class="row">
   <div class="col-lg-6">
   <h3>Work Physiology</h3>
   <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a1nghEe9yBo"></iframe>
   </div>
   </div>

   <div class="col-lg-6">
   <h3>Ergonomics - Electromyography</h3>
   <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vrayBm4TY9w"></iframe>
   </div>
   </div>
</div>
</body>
</html>

{% endblock %}